
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="loginBlock">
        <div class="top">
            <h1>Login</h1>
        </div>
        <div class="bottom">
            <input />
            <input />
        </div>
    </div>
</div>